<!-- FINAL CALL TO ACTION (CTA) SECTION -->
<section id="contact" class="section">
  <div class="container">
    <div class="has-text-centered">
      <h2 class="title is-2">Ready to Elevate Your Datacenter Operations?</h2>
      <p class="subtitle is-4">Stop manually correlating data and start making smarter, faster, data-driven decisions. <br />See the ydata Netbox Portal in action.</p>
      <a href="{{ site.main_website_url }}" target="_blank" rel="noopener noreferrer" class="button is-info is-large mt-4">Schedule Your Demo</a>

      <div class="box cta-addendum mt-6">
        <h3 class="title is-4 has-text-weight-light">Just Starting Your Netbox Journey?</h3>
        <p class="is-size-5">
          Your Source of Truth isn't perfect yet? <strong>We can build it for you.</strong>
          <br />
          Our experts transform your existing assets — from spreadsheets and other DCIM tools to physical audits — into a pristine, portal-ready Netbox instance.
        </p>
      </div>

      <p class="mt-5">Contact us directly to discuss your needs.</p>
      <p class="mt-2">
        <strong>Email:</strong> <a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
        <strong>Website:</strong> <a href="{{ site.main_website_url }}" target="_blank" rel="noopener noreferrer">{{ site.main_website_url }}</a>
      </p>
    </div>
  </div>
</section>
