<section class="hero is-fullheight-with-navbar has-text-centered hero-background">
  {% include svg/hero-background.svg %}
  <div class="hero-body">
    <div class="container">
        <h1 class="title is-1 is-2-mobile has-text-weight-bold">Unlock the True Potential of Your Netbox Data</h1>
        <h2 class="subtitle is-3 is-4-mobile mt-4">
          Transform your raw infrastructure data into powerful, role-specific tools for operations, finance, and management.
        </h2>
        <div class="buttons is-centered mt-5">
          <a href="{{ site.main_website_url }}" target="_blank" rel="noopener noreferrer" class="button is-info is-large">Schedule a Live Demo</a>
          <a href="#features" class="button is-large is-outlined">Explore Features</a>
        </div>
    </div>
  </div>
</section>
