<!-- SOLUTION/PROMISE SECTION -->
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-2">The Intelligent Business Layer for Your Infrastructure</h2>
    <p class="subtitle is-4">The <strong>ydata Portal</strong> connects directly to your existing Netbox instance via its API.<br />It doesn't replace your SoT — it supercharges it.</p>
    <figure class="box p-2 mt-6">
      <img src="{{ '/assets/img/startpage.png' | relative_url }}" alt="ydata Portal Start Page" />
      <figcaption class="has-text-centered is-italic mt-2">A central dashboard with real-time status and key metrics from your Netbox instance.</figcaption>
    </figure>
  </div>
</section>
